export(asis,bj,bjplot,bootBCa,bootcov,bootplot,bplot,calibrate,cph,catg,combineRelatedPredictors,confplot,contrast,coxphFit,cph,cr.setup,datadist,effective.df,ExProb,fastbw,formatNP,gendata,gIndex,GiniMd,Glm,Gls,groupkm,Hazard,hazard.ratio.plot,histdensity,"%ia%",ie.setup,interactions.containing,legend.nomabbrev,lm.pfit,lrm,lrm.fit,lrtest,lsp,matinv,matrx,Newlabels,Newlevels,nomogram,npsurv,ols,ols.influence,oos.loglik,orm,orm.fit,pantext,Penalty.matrix,Penalty.setup,pentrace,perimeter,perlcode,plot.lrm.partial,plot.xmean.ordinaly,pol,pphsm,predab.resample,Predict,psm,rcs,related.predictors,reVector,robcov,Rq,sascode,scored,sensuc,setPb,show.influence,specs,strat,survreg.auxinfo,survdiffplot,survest,Survival,survplot,univarLR,validate,val.prob,val.probg,val.surv,vif,which.influence)

useDynLib(rms)

import(Hmisc)
importFrom(survival, coxph.fit, coxph.control, survfit, survreg.fit)
importFrom(stats, nobs)
importFrom(SparseM, solve, t, as.matrix)

S3method(AIC, rms)
S3method(anova, rms)

S3method(calibrate, cph)
S3method(calibrate, default)
S3method(calibrate, psm)

S3method(contrast, rms)

S3method(ExProb, orm)
         
S3method(Function, cph)
S3method(Function, rms)

S3method(Hazard, psm)

S3method(latex, anova.rms)
S3method(latex, bj)
S3method(latex, cph)
S3method(latex, Glm)
S3method(latex, Gls)
S3method(latex, lrm)
S3method(latex, naprint.delete)
S3method(latex, ols)
S3method(latex, orm)
S3method(latex, pphsm)
S3method(latex, psm)
S3method(latex, Rq)
S3method(latex, summary.rms)
S3method(latex, validate)

S3method(lines, residuals.psm.censored.normalized)

S3method(logLik, ols)
S3method(logLik, rms)

S3method(Mean,  cph)
S3method(Mean,  lrm)
S3method(Mean,  orm)
S3method(Mean,  psm)

S3method(Newlabels, rms)
S3method(Newlevels, rms)

S3method(nobs, rms)

S3method(plot, anova.rms)
S3method(plot, calibrate)
S3method(plot, calibrate.default)
S3method(plot, ExProb)
S3method(plot, gIndex)
S3method(plot, lrm.partial)
S3method(plot, nomogram)
S3method(plot, pentrace)
S3method(plot, Predict)
S3method(plot, sensuc)
S3method(plot, summary.rms)
S3method(plot, validate.rpart)
S3method(plot, val.prob)
S3method(plot, val.surv)
S3method(plot, val.survh)

S3method(predict, bj)
S3method(predict, cph)
S3method(predict, Glm)
S3method(predict, Gls)
S3method(predict, lrm)
S3method(predict, ols)
S3method(predict, orm)
S3method(predict, psm)
S3method(predict, Rq)

S3method(print, anova.rms)
S3method(print, bj)
S3method(print, calibrate)
S3method(print, contrast.rms)
S3method(print, cph)
S3method(print, datadist)
S3method(print, fastbw)
S3method(print, gIndex)
S3method(print, Glm)
S3method(print, Gls)
S3method(print, lrm)
S3method(print, lrtest)
S3method(print, nomogram)
S3method(print, ols)
S3method(print, orm)
S3method(print, pentrace)
S3method(print, pphsm)
S3method(print, Predict)
S3method(print, psm)
S3method(print, Rq)
S3method(print, specs.rms)
S3method(print, summary.rms)
S3method(print, summary.survreg2)
S3method(print, survest.psm)
S3method(print, validate)
S3method(print, val.prob)
S3method(print, val.survh)

S3method(Quantile, cph)
S3method(Quantile, orm)
S3method(Quantile, psm)

S3method(rbind, Predict)

S3method(residuals, bj)
S3method(residuals, cph)
S3method(residuals, lrm)
S3method(residuals, ols)
S3method(residuals, psm)

S3method(specs, rms)
S3method(summary, rms)

S3method(survest, cph)
S3method(survest, psm)

S3method(survfit, cph)

S3method(survplot, residuals.psm.censored.normalized)
S3method(survplot, rms)
S3method(survplot, npsurv)

S3method(Survival, cph)
S3method(Survival, psm)

S3method(validate, bj)
S3method(validate, cph)
S3method(validate, lrm)
S3method(validate, ols)
S3method(validate, orm)
S3method(validate, psm)
S3method(validate, rpart)
S3method(validate, Rq)

S3method(vcov, cph)
S3method(vcov, Glm)
S3method(vcov, Gls)
S3method(vcov, lrm)
S3method(vcov, ols)
S3method(vcov, orm)
S3method(vcov, pphsm)
S3method(vcov, psm)
S3method(vcov, rms)

S3method("[", rms)
